*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.noti-icon{
    position: absolute;
    z-index: 1;
    bottom: 119px;
    font-size: 17px;
    right: 76px;
    font-size: 17px;
    height: 40px;
    padding: 14px;
    display: flex;
    align-items: center;
    border-radius: 50%;
    border: 1px solid #C7F0F2;
    color: #C7F0F2;
    background-color: #333333;
}


@media(max-width:900px){
    .noti-icon{
    position: absolute;
    z-index: 1;
        bottom: 119px;
    border-radius: 50%;
    padding: 12px;
    display: flex;
    font-size: 15px;
    right: 25px;
    color: #C7F0F2;
    background-color: #333333;
}
}